nav ul {
	display: flex;
	list-style: none;
	margin-left: 2rem;
}

@media (max-width: 600px) {
	nav ul {
		margin-left: 0.2rem;
	}
}

nav a {
	display: block;
	color: #3f3d56;
	padding: 1rem;
	text-decoration: none;
	cursor: pointer;
	font-style: italic;
	font-size: 1.3rem;
}

@media (max-width: 900px) {
	nav a {
		padding: 0.8rem;
		font-size: 1rem;
	}
}

@media (max-width: 600px) {
	nav a {
		padding: 0.5rem;
		font-size: 0.8rem;
	}
}

nav a:hover {
	color: #57b894;
}
